@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
    position:absolute;
    top: 5%;
    left: 70%;
    text-align: center;
    font-family: Poppins;
    font-size: 200%;
}
body{
    margin: 5px;
    background-color: #FFFBF4;
}
img{
    position:absolute;
    bottom: 18%;
    left: 10%;
    width: 800px;
}
.btnContainer{
    float: right;
}
.goContainer{
    float: right;
}
.go{
    position: relative;
    right: -50px;
    top: 80px;
    background-color: #59CD90;
    font-size: 15px;
    border-color: #FFFBF4;
}
.btn{
    position: relative;
    right: 245px;
    top: 80px;
    background-color: white;
    text-align: center;
    font-size: 20px;
}
#lunchbox{
    position:absolute;
    bottom: 7%;
    left: 20%;
    background-color: #FAC05E;
    text-align: center;
    font-size: 20px;
    border-color: #FFFBF4;
}
#help{
    position:absolute;
    bottom: 7%;
    right: 20%;
    background-color: #F79D84;
    text-align: center;
    float: right;
    font-size: 20px;
    border-color: #FFFBF4;
}
button{border-radius: 4px;}
button{
    font-family: Poppins;
}