@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
head{
    text-align: center;
    font-family: Poppins;
    font-size: 150%;
}
body{
    margin: 5px;
    background-color: #FFFBF4;
}

.btn{
    background-color: white;
    text-align: center;
}
#lunchbox{
    background-color: #FAC05E;
    text-align: center;
}
#help{
    background-color: #F79D84;
    text-align: center;
}
button{border-radius: 4px;}
button{
    font-family: Poppins;
}