@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1{
    text-align: center;
    font-family: Poppins;
    font-size: 150%;
}
body{
    margin: 4px;
    background-color:#ADD8E6;
}
button{
    font-size: Poppins;
    background-color: #59CD90;
    display: inline-block;
    border: none;
}
button{border-radius: 4px;}