@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
h1 {
    font-size: 15px;
    text-align: center;
    font-family: Poppins;
}
body {
    margin: 5px;
    background-color: #FFFBF4;
}